<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Posting</h1>
    <p class="secret-text">
      로그인, 로그아웃, 회원 등록 등 passport 사용해보았다~
    </p>

    <form action="/submit" method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control text-center"
          name="secret"
          placeholder="아무말이나 쓰시오"
        />
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
